In [66]:
import numpy as np
import pandas as pd

In [70]:
df = pd.DataFrame({'color':['Red','Green','Blue','Purplr','Yellow'],'value':[12,23,34,45,56]})
df

    color  value
0     Red     12
1   Green     23
2    Blue     34
3  Purplr     45
4  Yellow     56

In [71]:
df = df.append({'color':'Red','value':1},ignore_index=True)
df

    color  value
0     Red     12
1   Green     23
2    Blue     34
3  Purplr     45
4  Yellow     56
5     Red      1

In [72]:
df1 = df.append({'color':'Blue','value':10},ignore_index=True)
df1

    color  value
0     Red     12
1   Green     23
2    Blue     34
3  Purplr     45
4  Yellow     56
5     Red      1
6    Blue     10

In [78]:
df1[df1['color']=='Blue'].groupby('color').aggregate('sum')

       value
color
Blue      44