In [4]:
# Q1
for i in range(6):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [1]:
# Q2
n=7
for i in range(n):
        print(' '*(n-i)+'*'*i)

      *
     **
    ***
   ****
  *****
 ******

In [14]:
#3
for i in range(6):
        print(' '*(6-i)+'* '*i)

     *
    * *
   * * *
  * * * *
 * * * * *

In [22]:
# Q4
for i in range(6):
    for j in range(i):
        print(j+1,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [26]:
# Q5
k=1
for i in range(6):
    for j in range(i):
        print(k,end=' ')
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [38]:
# Q6
k =64
for i in range(6):
    for j in range(i):
        print(chr(k),end=' ')
    k+=1
    print()

A
B B
C C C
D D D D
E E E E E

In [5]:
# Q7
k =65
for i in range(6):
    for j in range(1,i+1):
        print(chr('k'),end=' ')
        k+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [7]:
# Q8
for i in range(6):
    for j in range(i):
        print('K',end=' ')
    print()

K
K K
K K K
K K K K
K K K K K

In [30]:
# Q8

for i in range(6):
    k = 65
    for j in range(i):
        print(chr(k),end=' ')
        k +=1
    print()

A
A B
A B C
A B C D
A B C D E

In [22]:
# Q10
string = 'Python'
for i in range(len(string)):
    for j in range(i+1):
        print(string[i],end=' ')
    print()

P
y y
t t t
h h h h
o o o o o
n n n n n n

In [6]:
# Q11.
# 1 1 1 1 1
# 2 2 2 2
# 3 3 3
# 4 4
# 5
for i in range(1,6):
    for j in range(1,7-i):
        print(i,end=' ')
    print()
for i in range(1,6):
    for j in range(6,i,-1):
        print(i, end=' ')
    print()

1 1 1 1 1
2 2 2 2
3 3 3
4 4
5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [6]:
# Q12.
# 6 6 6 6 6 6
# 5 5 5 5 5
# 4 4 4 4
# 3 3 3
# 2 2
# 1
for i in range(6,0,-1):
    for j in range(i,0,-1):
        print(i,end=' ')
    print()

6 6 6 6 6 6
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [15]:
# Q13.
# 0 1 2 3 4 5
# 0 1 2 3 4
# 0 1 2 3
# 0 1 2
# 0 1
for i in range(6,1,-1):
    for j in range(0,i):
        print(j,end=' ')
    print()

0 1 2 3 4 5
0 1 2 3 4
0 1 2 3
0 1 2
0 1

In [29]:
# Q14.
# 1
# 2 3 4
# 5 6 7 8 9
k=1
s=-1
for i in range(0,3):
    s+=2
    for j in range(0,s):
        print(k,end=' ')
        k+=1
    print()

1
2 3 4
5 6 7 8 9

In [22]:
# Q15.
# 6 5 4 3 2 1
# 5 4 3 2 1
# 4 3 2 1
# 3 2 1
# 2 1
# 1
for i in range(6,0,-1):
    k = i
    for j in range(0,i):        
        print(k,end=' ')
        k -=1
    print()

6 5 4 3 2 1
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [34]:
# Q16.
# 1
# 3 3
# 5 5 5
# 7 7 7 7
# 9 9 9 9 9
k = 1
for i in range(1,6):
    for j in range(0,i):
        print(k,end=' ')
    k+=2
    print()

1
3 3
5 5 5
7 7 7 7
9 9 9 9 9

In [39]:
# Q17.
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
for i in range(1,6):
    for i in range(1,i+1):
        print(i,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [40]:
# Q18.
# 1 2 3 4 5
# 2 2 3 4 5
# 3 3 3 4 5
# 4 4 4 4 5
# 5 5 5 5 5
for i in range(1,6):
    for j in range(1,6):
        print(max(i,j),end=' ')
    print()

1 2 3 4 5
2 2 3 4 5
3 3 3 4 5
4 4 4 4 5
5 5 5 5 5

In [50]:
# Q19.
# 1
# 2 4
# 3 6 9
# 4 8 12 16
# 5 10 15 20 25
# 6 12 18 24 30 36
# 7 14 21 28 35 42 49
for i in range(1,8):
    k=1
    for j in range(0,i):
        print(k*i,end=' ')
        k+=1
    print()

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49

In [34]:
# Q20.
# 1
# 2 1
# 4 2 1
# 8 4 2 1
# 16 8 4 2 1
# 32 16 8 4 2 1
# 64 32 16 8 4 2 1
# 128 64 32 16 8 4 2 1
for i in range(1,9):
    j=i
    while j>0:
        print(2**j//2, end=' ')
        j -= 1
    print()

1
2 1
4 2 1
8 4 2 1
16 8 4 2 1
32 16 8 4 2 1
64 32 16 8 4 2 1
128 64 32 16 8 4 2 1

In [21]:
# Q21.
# * * * * * * * * * * * * * *
# * * * * * *   * * * * * *
# * * * * *      * * * * *
# * * * *         * * * *
# * * *            * * *
# * *               * *
# *                  *
for i in range(6,0,-1):
    for j in range(i):
        print('*',end=' ')
#     for j in range(6):
#         print(' '*(6-j)+'* '*j)
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [6]:
# Q22.
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *
# * * * * * * *
# * * * * * * *
# * * * * * *
# * * * * *
# * * * *
# * * *
# * *
# *
for i in range(8):
    for j in range(i):
        print('*',end=' ')
    print()
for i in range(7,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [7]:
# Q23.
# *
# * *
# * * *
# * * * *
# * * * * *
# * * * * * *

# * * * * * *
# * * * * *
# * * * *
# * * *
# * *
# *
for i in range(7):
    for j in range(i):
        print('*',end=' ')
    print()
print()
for i in range(6,0,-1):
    for j in range(i):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

* * * * * *
* * * * *
* * * *
* * *
* *
*