In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing
from matplotlib import pyplot as plt

Problem Statement:

Real estate transactions are quite opaque sometimes and it may be difficult for a newbie to know the fair price of any given home. Thus, multiple real estate websites have the functionality to predict the prices of houses given different features regarding it. Such forecasting models will help buyers to identify a fair price for the home and also give insights to sellers as to how to build homes that fetch them more money. pune house sale price data is shared here and the participants are expected to build a sale price prediction model that will aid the customers to find a fair price for their homes and also help the sellers understand what factors are fetching more money for the houses?


Minimum Requirements It is not sufficient to just fit a model - the model must be analysed to find the important factors that contribute towards the price. Also, it will be better to give a forecast range (range of permissible values) rather than a single estimate as it will help the customers to negotiate.

In [ ]:
d=pd.read_csv(r"C:\Users\AJEETKUMAR UKANDE\AJ_PRACTICE FILE\Project\Common Projects\House_Price_Prediction\Pune_House_Data.csv")
d

In [ ]:
df=d.copy()

In [ ]:
class data_exploration():
    
    def df_info(self):
        return df.info()
    
    def df_shape(self):
        print(f'no of rows is:{df.shape[0]}')
        print(f'no of features is:{df.shape[1]}')
  

    def df_head(self):
        return df.head()
  

    def df_dtypes(self):
        print('datatypes of features:',df.dtypes.T)
  

    def df_tail(self):
        return df.tail()
  

    def null_count(self):
        for features in df.columns:
            is_null=pd.DataFrame(df.isnull().sum()).T
            return is_null
            print(f'Number of Null values for {features} is:>>{df[features].isna().sum().T}')
        
    def null_count_perc(self):   
        # Get the percentages of null value
        null_percent = df.isnull().sum()/df.shape[0]*100
        return null_percent

  
    def int_float_dtype_features(self):
        global df_num
        df_num=df.select_dtypes(exclude=['object'])
        return df_num
  

    def obj_dtype_features(self):
        global df_obj
        df_obj=df.select_dtypes(include=['object'])
        return df_obj
    
                
    def catog_num_features(self):
        print('The data has {} categorical features'.format(len(obj_dtype_features)))
        print('The data has {} numerical_features'.format(len(int_float_dtype_features)))
  

    def value_count(self):
        for features in df.columns:
            print("value_counts are:",df[[features]].value_counts())
#             val_counts=pd.DataFrame(df.dtypes.value_counts()).T
#             return val_counts
    
    def drop_duplicates(self):
        global df
        n_duplicates = df.drop(labels=["id"], axis=1).duplicated().sum().T
        print(f"You seem to have {n_duplicates} duplicates in your database.")
        columns_to_consider = df.drop(labels=["id"], axis=1).columns
        df = df.drop_duplicates(subset=columns_to_consider)
             


    def df_describes(self):
        return df.describe()
  
  
      
obj=data_exploration()

In [ ]:
obj.df_info()

In [ ]:
obj.df_head()

In [ ]:
obj.df_tail()

In [ ]:
obj.df_dtypes()

In [ ]:
obj.value_count()

In [ ]:
obj.obj_dtype_features().head()

In [ ]:
obj.df_shape()

In [ ]:
obj.int_float_dtype_features()

In [ ]:
print("no of int_float_features:",len(obj.int_float_dtype_features().columns))

In [ ]:
print("no of obj_features:",len(obj.obj_dtype_features().columns))

In [ ]:
print('The total number of features:',df.shape[1])

In [ ]:
for feature in df.columns:
#     print(feature,'',df[feature].isna().sum())
    print(f"{feature : <15}{df[feature].isna().sum()}")

In [ ]:
obj.null_count()

In [ ]:
# df['society'].isnull().sum()/df.index([0])*100
null_percent_society = df['society'].isnull().sum()/df['society'].shape[0]*100
print("percentage null count of society is:",null_percent_society)

In [ ]:
# null % greater than 40 hence we are plan to drop this features
df=df.drop(['society'],axis=1)
df

In [ ]:
obj.value_count()

In [ ]:
obj.df_describes()

In [ ]:
# bathroom having outliers

In [ ]:
# cat_feat=6
# num_feat=3
# categorial-----area_type,availability,society,site_location>>
# size------convert>>into int>>
# num-----total_sqft,bath,balcony>>

In [ ]:
class visualization():
    def outliers(self):
        for features in df_num:
            plt.figure()
            print("boxplot:,features",'\n',df_num[[features]].boxplot())
            print(plt.show())
 


    def hist_kde_plot(self):
        for features in df_num.columns:
            print("hist_kde_plot:",features,'\n',sns.histplot(df[features],kde=True))
            print(plt.show())
   

    def count_plot(self):    
        for features in df_num.columns:
            print('plt_fig',plt.figure())
        
            print("countplot:",features,'\n',sns.countplot(df_num[features]))
            print(plt.show())
  

    def scatter_plot(self):
        print('scatter plot:',sns.pairplot(df))
obj=visualization()

In [ ]:
obj.outliers()

In [ ]:
# bathroom room

In [ ]:
# for feature in df_num:
#     plt.figure()
#     print("boxplot:,features",'\n',df_num[[feature]].boxplot())
#     print(plt.show())
# -------------------------------------------------------------------------
q3=df['bath'].quantile(0.75)
q1=df['bath'].quantile(0.25)
iqr=q3-q1
upper_limit=q3+1.5*iqr
lower_limit=q1-1.5*iqr
df['bath']=np.where(df['bath']>upper_limit,df['bath'].median(),df['bath'])
# ----------------------------------------------------------------------------
plt.figure()
print("boxplot:,features",'\n',df[['bath']].boxplot())
print(plt.show())

In [ ]:
import seaborn as sns
obj.hist_kde_plot()

In [ ]:
obj.count_plot()

In [ ]:
df.groupby('area_type')['area_type'].agg('count')

In [ ]:
df.groupby('availability')['availability'].agg('count')

In [ ]:
df.groupby('size')['size'].agg('count')

In [ ]:
df.groupby('site_location')['site_location'].agg('count')

In [ ]:
df['area_type'].unique() #4 uniques>>ordinal data
# Plot  Area
# Super built-up  Area
# Built-up  Area
# Carpet  Area

In [ ]:
df.replace({'area_type':{'Plot  Area':[3],'Super built-up  Area':[2],'Built-up  Area':[1], 'Carpet  Area':[0]}},inplace=True)
df
# df.replace({'A': {0: 100, 4: 400}})

In [ ]:
# availability
df.drop(['availability'],axis=1,inplace=True)

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
# Applying median to the balcony and bath column
# from math import floor

# balcony_median = float(floor(df.balcony.median()))
# bath_median = float(floor(df.bath.median()))

# df.balcony = df.balcony.fillna(balcony_median)
# df.bath = df.bath.fillna(bath_median)
# 
df['balcony']=df['balcony'].fillna(df['balcony'].median())
df['bath']=df['bath'].fillna(df['bath'].median())

In [ ]:
df

In [ ]:
# df['size'] = df['size'].apply(lambda x: x.split(' ')[0])
# df['size'] = df['size'].astype('int')
# from scipy import stats
# array_=pd.(df['size'].to_numpy())
# size_mode=stats.mode(array_)
# df['size']=df['size'].fillna(size_mode)
# df['size_bhk']=df['size'].str.split().str.get(0).astype(int)

# df["BHK"]=df["size"].fillna(df["size"].median())

df['size']=df['size'].fillna('2 BHK')

In [ ]:
df['size_bhk']=df['size'].str.split().str.get(0).astype(int)
df=df.drop(['size'],axis=1)
df

In [ ]:
df['total_sqft'].unique()

In [ ]:
# range convert to mid_value

In [ ]:
def range_to_mid_value(x):
    temp=x.split('-')
    if len(temp)==2:
        return (float(temp[0])+float(temp[1]))/2
    try:
        return float(x)
    except:
        return None
df['total_sqft']=df['total_sqft'].apply(range_to_mid_value)

In [ ]:
df

In [ ]:
q3=df['size_bhk'].quantile(0.75)
q1=df['size_bhk'].quantile(0.25)
median= df['size_bhk'].quantile(0.50)
iqr=q3-q1
upper_limit=q3+1.5*iqr
lower_limit=q1-1.5*iqr
# ---------------------------------------------------------
print(median)
print(upper_limit)
print(lower_limit)
# ---------------------------------------------------------
df['size_bhk']=np.where(df['size_bhk']>upper_limit,median,df['size_bhk'])

#----------------------------------------------------------


plt.figure()
print("boxplot:,features",'\n',df[['size_bhk']].boxplot())
print(plt.show())

In [ ]:
df['total_sqft'].unique()

In [ ]:
df['price_per_sqft']=df['price']*100000/df['total_sqft']
df

In [ ]:
df.describe()

In [ ]:
pd.DataFrame(df['site_location'].value_counts().head(5))

In [ ]:
pd.DataFrame(df['site_location'].value_counts().tail(5))

In [ ]:
df['site_location'].unique()

In [ ]:
# df['site_location'].value_counts()
# df['site_location'].nunique().value_counts()

In [ ]:
# df['site_location'].fillna(['Alandi Road'],inplace=True)
df['site_location']=df['site_location'].fillna('Laxmi Road')

In [ ]:
df['site_location']=df['site_location'].apply(lambda x:x.strip())

In [ ]:
site_location_count=df['site_location'].value_counts()
site_location_count

#Ordinal Encoding: We can use Ordinal Encoding provided in Scikit learn class to encode Ordinal features. It #ensures that ordinal nature of the variables is sustained.

In [ ]:
from sklearn.preprocessing import OrdinalEncoder
ord1 = OrdinalEncoder()
# fitting encoder
ord1.fit([df['site_location']])
# transforming the column after fitting
df["site_location"]= ord1.fit_transform(df[["site_location"]]) 
df.head(10)

In [ ]:
df.dtypes

In [ ]:
# from sklearn.preprocessing import train_test_split
from sklearn.model_selection import train_test_split
Y = df["price"]
X = df.drop(["price"], axis=1)
x_train, x_test, y_train, y_test = train_test_split(X,Y,test_size=0.2,random_state=42)

In [ ]:
# concatenating the DataFrames
# train_data = pd.concat([x_train, y_train], join = 'outer', axis = 1)
# test_data = pd.concat([x_test, y_test], join = 'outer', axis = 1)
# train_data.shape, test_data.shape

two types of transformations are available: quantile transforms and power transforms. Both quantile and power transforms are based on monotonic transformations of the features and thus preserve the rank of the values along each feature.

Quantile transforms put all features into the same desired distribution based on the formula \(G^{-1}(F(X))\) where \(F\) is the cumulative distribution function of the feature and \(G^{-1}\) the quantile function of the desired output distribution \(G\). This formula is using the two following facts: (i) if \(X\) is a random variable with a continuous cumulative distribution function \(F\) then \(F(X)\) is uniformly distributed on \([0,1]\); (ii) if \(U\) is a random variable with uniform distribution on \([0,1]\) then \(G^{-1}(U)\) has distribution \(G\). By performing a rank transformation, a quantile transform smooths out unusual distributions and is less influenced by outliers than scaling methods. It does, however, distort correlations and distances within and across features.

Power transforms are a family of parametric transformations that aim to map data from any distribution to as close to a Gaussian distribution. --> -->
<!-- 
>>> from sklearn.datasets import load_iris
>>> from sklearn.model_selection import train_test_split
>>> X, y = load_iris(return_X_y=True)
>>> X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=0)
>>> quantile_transformer = preprocessing.QuantileTransformer(random_state=0)
>>> X_train_trans = quantile_transformer.fit_transform(X_train)
>>> X_test_trans = quantile_transformer.transform(X_test)
>>> np.percentile(X_train[:, 0], [0, 25, 50, 75, 100]) 
array([ 4.3,  5.1,  5.8,  6.5,  7.9]) -->

In many modeling scenarios, normality of the features in a dataset is desirable. Power transforms are a family of parametric, monotonic transformations that aim to map data from any distribution to as close to a Gaussian distribution as possible in order to stabilize variance and minimize skewness.

PowerTransformer currently provides two such power transformations, the Yeo-Johnson transform and the Box-Cox transform.

The Yeo-Johnson transform is given by:
\[\begin{split}x_i^{(\lambda)} = \begin{cases} [(x_i + 1)^\lambda - 1] / \lambda & \text{if } \lambda \neq 0, x_i \geq 0, \\[8pt] \ln{(x_i + 1)} & \text{if } \lambda = 0, x_i \geq 0 \\[8pt] -[(-x_i + 1)^{2 - \lambda} - 1] / (2 - \lambda) & \text{if } \lambda \neq 2, x_i < 0, \\[8pt] - \ln (- x_i + 1) & \text{if } \lambda = 2, x_i < 0 \end{cases}\end{split}\]

while the Box-Cox transform is given by:
\[\begin{split}x_i^{(\lambda)} = \begin{cases} \dfrac{x_i^\lambda - 1}{\lambda} & \text{if } \lambda \neq 0, \\[8pt] \ln{(x_i)} & \text{if } \lambda = 0, \end{cases}\end{split}\]

Box-Cox can only be applied to strictly positive data. In both methods, the transformation is parameterized by \(\lambda\), which is determined through maximum likelihood estimation. Here is an example of using Box-Cox to map samples drawn from a lognormal distribution to a normal distribution:

In [ ]:
# for feature in df.columns:
#     print(feature,'',df[feature].isna().sum())
#     print(f"{feature : <15}{df[feature].isna().sum()}")

In [ ]:
# df['bath'].unique()

In [ ]:
# need to be handle for null values

In [ ]:
# df['bath'].value_counts()

In [ ]:
# df['balcony'].unique()

In [ ]:
# df['balcony'].value_counts()

In [ ]:
# df.head()

In [ ]:
# df.shape

In [ ]:
# Exploring the dataset
# df.groupby('area_type')['area_type'].agg('count')

In [ ]:
# Exploring the dataset
# df.groupby('availability')['availability'].agg('count')

In [ ]:
# Exploring the dataset
# df.groupby('size')['size'].agg('count')

In [ ]:
# Exploring the dataset
# df.groupby('site_location')['site_location'].agg('count')

In [ ]:
# Removing the columns of society
# df = df.drop('society', axis='columns')
# df.head()

In [ ]:
# Data Cleaning

In [ ]:
# Checking the null values in the dataset
df.isnull().sum()

In [ ]:
# Applying median to the balcony and bath column
# from math import floor

# balcony_median = float(floor(df.balcony.median()))
# bath_median = float(floor(df.bath.median()))

# df.balcony = df.balcony.fillna(balcony_median)
# df.bath = df.bath.fillna(bath_median)

# Checking the null values in the dataset again
df.isnull().sum()

In [ ]:
# Dropping the rows with null values because the dataset is huge as compared to null values.
# df = df.dropna()
# df.isnull().sum()

In [ ]:
# Converting the size column to bhk
# df['bhk'] = df['size'].apply(lambda x: int(x.split(' ')[0]))
# df = df.drop('size', axis='columns')
# df.groupby('bhk')['bhk'].agg('count')

In [ ]:
# Since the total_sqft contains range values such as 1133-1384, lets filter out these values
# def isFloat(x):
#     try:
#         float(x)
#     except:
#         return False
#     return True

# # Displaying all the rows that are not integers
# df[~df['total_sqft'].apply(isFloat)]

In [ ]:
# Converting the range values to integer values and removing other types of error
# def convert_sqft_to_num(x):
#     tokens = x.split('-')
#     if len(tokens) == 2:
#         return (float(tokens[0])+float(tokens[1]))/2
#     try:
#         return float(x)
#     except:
#         return None
    
# df['new_total_sqft'] = df.total_sqft.apply(convert_sqft_to_num)
# df = df.drop('total_sqft', axis='columns')
# df.head()

In [ ]:
# Removing the rows in new_total_sqft column that hase None values
# df.isna().sum()

In [ ]:
# df = df.dropna()
# df.isnull().sum()

In [ ]:


# Feature Engineering

In [ ]:
# Adding a new column of price_per_sqft
# df1 = df.copy()

# In our dataset the price column is in Lakhs
# df1['price_per_sqft'] = (df1['price']*100000)/df1['new_total_sqft']
# df1.head()

In [ ]:
# Checking unique values of 'location' column
# locations = list(df['site_location'].unique())
# print(len(locations))

In [ ]:
# Removing the extra spaces at the end
# df1.site_location = df1.site_location.apply(lambda x: x.strip())

# Calulating all the unqiue values in 'site_location' column
# location_stats = df1.groupby('site_location')['site_location'].agg('count').sort_values(ascending=False)
# location_stats

In [ ]:
# Checking locations with less than 10 values
# print(len(location_stats[location_stats<=10]), len(df1.site_location.unique()))

In [ ]:
# Labelling the locations with less than or equal to 10 occurences to 'other'
# locations_less_than_10 = location_stats[location_stats<=10]
# 
# df1.site_location = df1.site_location.apply(lambda x: 'other' if x in locations_less_than_10 else x)
# len(df1.site_location.unique())

In [ ]:
# Checking the unique values in 'availability column'
# df1.groupby('availability')['availability'].agg('count').sort_values(ascending=False)

In [ ]:
# Labelling the dates into Not Ready
# dates = df.groupby('availability')['availability'].agg('count').sort_values(ascending=False)

# dates_not_ready = dates[dates<10000]
# df.availability = df.availability.apply(lambda x: 'Not Ready' if x in dates_not_ready else x)

# len(df.availability.unique())

In [ ]:
# Checking the unique values in 'area_type' column
# df1.groupby('area_type')['area_type'].agg('count').sort_values(ascending=False)

# Since the column has only few unique values, we don't perform any operation

In [ ]:
# df2= df1.copy()
# df2= df2.drop('price_per_sqft', axis='columns')

In [ ]:
# Converting the categorical_value into numerical_values using get_dummies method
# dummy_cols = pd.get_dummies(df2.site_location)
# df2 = pd.concat([df2,dummy_cols], axis='columns')

In [ ]:
# Converting the categorical_value into numerical_values using get_dummies method
# dummy_cols = pd.get_dummies(df2.availability).drop('Not Ready', axis='columns')
# df2 = pd.concat([df2,dummy_cols], axis='columns')

In [ ]:
# Converting the categorical_value into numerical_values using get_dummies method
# dummy_cols = pd.get_dummies(df2.area_type).drop('Super built-up  Area', axis='columns')
# df2 = pd.concat([df2,dummy_cols], axis='columns')

In [ ]:
# df2.drop(['area_type','availability','site_location'], axis='columns', inplace=True)
# df2.head(10)