In [8]:
import mysql.connector as sql
import pandas as pd

In [5]:
mydb=sql.connect(host='localhost',
                user='root',
                passwd='system1234',
                use_pure= True) # reflect changes in database
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x1089e8be0>

In [6]:
mycursor=mydb.cursor()
mycursor.execute('show databases')
for db in mycursor:
    print(db)

('db_new',)
('db_nov',)
('information_schema',)
('mydb',)
('mysql',)
('performance_schema',)
('sys',)

In [7]:
mycursor=mydb.cursor()
mycursor.execute('create database db_nov_new')
for db in mycursor:
    print(db)

In [11]:
mydb=sql.connect(host='localhost',
                user='root',
                passwd='system1234',
                use_pure= True,
                database='db_nov') # reflect changes in database
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x10d7798a0>

In [13]:
mycursor=mydb.cursor()
df=pd.read_sql_query('select * from emp',mydb)
print(df)

  empid    fname     lname  age  salary     loc     contact
0  1001   snehal      more   25   40000    pune  8767564534
1  1002   snehal      more   25   40000    pune  8767564534
2  1004   mayura  namjoshi   28   80000  mumbai  9876756785
3  1005  saurabh     joshi   29   60000  mumbai  7898765678
4  1006  swapnil    kendre   25   30000  mumbai  9876756788
5  1007     swap         k   21   40000    pune  9845678534
6  1008     None      more   25   40000    pune  8767564534

/Library/Frameworks/Python.framework/Versions/3.10/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [14]:
mycursor=mydb.cursor()
mycursor.execute('show tables')
for db in mycursor:
    print(db)

('course',)
('course1',)
('dept',)
('details',)
('dups_view',)
('emp',)
('emp_AI',)
('emp_bkp',)
('emp_chk',)
('emp_data',)
('emp_df',)
('emp_not_null',)
('emp_pk',)
('emp_unq',)
('new_view',)
('student',)
('TABLE1',)
('TABLE2',)