# Data

In [ ]:
CSV
Excel
JSON
MySQL(2 Table ) >> SQL  >> Tabular data 
PostGreSQL
MongoDB         >> NoSQL Database  >> JSON
Client Server
Web Scrapping

# Operations

In [ ]:
1. Create DataBase
2. Read
3. Update
4. Delete
5. Insert
6. Sorting

# MongoDB

In [ ]:
1. MongoDB Compass
2. NoSQL Booster


Tables >> Collection
Rows   >> Documents(JSON)

In [3]:
import pymongo
port_number = 27017  # 27021
mongo_client = pymongo.MongoClient('mongodb://localhost:27017')
mongo_client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

# Create DataBase

In [4]:
db_name = 'project_db'
db = mongo_client[db_name]

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'project_db')

## Check Database

In [5]:
mongo_client.list_database_names()

['admin', 'config', 'local']

## Create Collection

In [6]:
collection_user = db['user_details']
collection_proj_var = db['proj_variables']
collection_analysis = db['analysis_details']

First Page >> Aadhar Card
image1 = 'aadhar_card'

# Check Collections

In [11]:
collection_names_list = db.list_collection_names()
collection_names_list

[]

# 1. Insert

# 1.1 insert_one

In [ ]:
To insert a record or document

In [81]:
collection_user.insert_one({'First Name': "Virat", "Last Name": "Kohli",
                           'Mobile Number':9988776655, "Location": 'Bangalore'})

In [82]:
collection_user.insert_one({'First Name': "Rohit", "Last Name": "Sharma",
                           'Mobile Number':8988112233, "Location": 'Mumbai'})

In [83]:
collection_user.insert_one({'First Name': "Rohit", "Last Name": "Sharma",
                           'Mobile Number':8988112233, "Location": 'Chennai'})

# 1.2 insert_many

In [84]:
data = [{'First Name': "Sachin", "Last Name": "Tendulkar",
         'Mobile Number':8888112233, "Location": 'Mumbai'},
        
       {'First Name': "Suresh", "Last Name": "Raina",
                           'Mobile Number':9788112244, "Location": 'Delhi'},
        
       {'First Name': "Shikhar", "Last Name": "Dhawan",
                           'Mobile Number':7988112233, "Location": 'Pune'}]
collection_user.insert_many(data)

# 2. find

## 2.1 find_one

In [ ]:
Used to select data from collection, 
It will return only first occurrence

In [18]:
collection_user.find_one({'First Name':'Suresh'})

{'_id': ObjectId('62599e5467fe63f24aed05cd'),
 'First Name': 'Suresh',
 'Last Name': 'Raina',
 'Mobile Number': 9788112244,
 'Location': 'Delhi'}

In [20]:
collection_user.find_one({'First Name':'Rohit'})

{'_id': ObjectId('62599d9067fe63f24aed05c9'),
 'First Name': 'Rohit',
 'Last Name': 'Sharma',
 'Mobile Number': 8988112233,
 'Location': 'Mumbai'}

In [22]:
collection_user.find_one({'First Name':'Rohit', 'Location':"Chennai"})

{'_id': ObjectId('62599f3567fe63f24aed05cf'),
 'First Name': 'Rohit',
 'Last Name': 'Sharma',
 'Mobile Number': 8988112233,
 'Location': 'Chennai'}

In [26]:
response = collection_user.find_one({'Mobile Number':9988776655})
if not response:
    collection_user.insert_one({'First Name': "Virat", "Last Name": "Kohli",
                           'Mobile Number':9988776655, "Location": 'Bangalore'})
    
else:
    print("User Already Exists")

User Already Exists

## find

In [29]:
data = collection_user.find({'First Name': 'Virat'})
list(data)

[{'_id': ObjectId('62599cf967fe63f24aed05c8'),
  'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'},
 {'_id': ObjectId('6259a00167fe63f24aed05d0'),
  'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]

In [31]:
data = collection_user.find({'First Name': 'Rohit'})
list(data)

[{'_id': ObjectId('62599d9067fe63f24aed05c9'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'_id': ObjectId('62599d9f67fe63f24aed05ca'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'_id': ObjectId('62599da067fe63f24aed05cb'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'_id': ObjectId('62599f3567fe63f24aed05cf'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Chennai'}]

In [33]:
data = collection_user.find({'First Name': 'Rohit'}, {'_id':0})
list(data)

[{'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Chennai'}]

In [35]:
data = collection_user.find({'First Name': 'Rohit'}, {'_id':0,'Last Name':0})
list(data)

[{'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Chennai'}]

In [38]:
data = collection_user.find({'First Name': 'Rohit'}, {'_id':0,'First Name':1,'Mobile Number':1})
list(data)

[{'First Name': 'Rohit', 'Mobile Number': 8988112233},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233}]

In [47]:
data = collection_user.find({}, {'_id':0,'First Name':1,'Mobile Number':1,'Location':1})
data = list(data)
data

[{'First Name': 'Virat', 'Mobile Number': 9988776655, 'Location': 'Bangalore'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Mumbai'},
 {'First Name': 'Sachin', 'Mobile Number': 8888112233, 'Location': 'Mumbai'},
 {'First Name': 'Suresh', 'Mobile Number': 9788112244, 'Location': 'Delhi'},
 {'First Name': 'Shikhar', 'Mobile Number': 7988112233, 'Location': 'Pune'},
 {'First Name': 'Rohit', 'Mobile Number': 8988112233, 'Location': 'Chennai'},
 {'First Name': 'Virat', 'Mobile Number': 9988776655, 'Location': 'Bangalore'}]

In [48]:
import pandas as pd
df = pd.DataFrame(data)
df

  First Name  Mobile Number   Location
0      Virat     9988776655  Bangalore
1      Rohit     8988112233     Mumbai
2      Rohit     8988112233     Mumbai
3      Rohit     8988112233     Mumbai
4     Sachin     8888112233     Mumbai
5     Suresh     9788112244      Delhi
6    Shikhar     7988112233       Pune
7      Rohit     8988112233    Chennai
8      Virat     9988776655  Bangalore

In [50]:
import numpy as np
array = np.random.randint(10,40,size = (10,4))
array

array([[21, 20, 28, 26],
       [10, 12, 13, 34],
       [22, 14, 30, 14],
       [16, 10, 31, 13],
       [12, 33, 30, 36],
       [34, 29, 37, 34],
       [24, 24, 28, 10],
       [32, 22, 22, 10],
       [32, 31, 18, 22],
       [36, 34, 34, 18]])

In [51]:
df1 = pd.DataFrame(array,columns = list('abcd'))
df1

    a   b   c   d
0  21  20  28  26
1  10  12  13  34
2  22  14  30  14
3  16  10  31  13
4  12  33  30  36
5  34  29  37  34
6  24  24  28  10
7  32  22  22  10
8  32  31  18  22
9  36  34  34  18

In [54]:
result = df1.to_dict(orient='record')

<ipython-input-54-0ed8e87095a5>:1: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  result = df1.to_dict(orient='record')

In [55]:
collection_proj_var.insert_many(result)

In [62]:
query = {"First Name" : {"$regex" : '^S'}}
data = collection_user.find(query,{'_id':0})
list(data)

[{'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Mumbai'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'}]

In [58]:
query = {"First Name" : "S"}
data = collection_user.find(query)
list(data)

[]

In [64]:
query = {"Mobile Number" : {"$gt" : 8988112233}}
data = collection_user.find(query,{'_id':0})
list(data)

[{'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'},
 {'First Name': 'Suresh',
  'Last Name': 'R',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]

# 3. Delete

## 3.1 Delete_one

In [66]:
collection_user.delete_one({"First Name":"Rohit"})

In [69]:
data = collection_user.find({"First Name":"Rohit"})
list(data)

[{'_id': ObjectId('62599d9f67fe63f24aed05ca'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'},
 {'_id': ObjectId('62599da067fe63f24aed05cb'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'}]

In [70]:
collection_user.delete_one({"First Name":"Rohit", "Location":"Chennai"})

In [72]:
data = collection_user.find({"First Name":"Rohit", "Location":"Mumbai"})
list(data)

[{'_id': ObjectId('62599da067fe63f24aed05cb'),
  'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Mumbai'}]

## 3.2 Delete_many

In [76]:
data = collection_user.find({ "Location":"Mumbai"})
list(data)

[]

In [75]:
collection_user.delete_many({"Location":"Mumbai"})

In [78]:
query = {"Mobile Number" : {"$gt" : 8988112233}}
data = collection_user.find(query,{'_id':0})
list(data)

[{'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'},
 {'First Name': 'Suresh',
  'Last Name': 'R',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]

In [79]:
query = {"Mobile Number" : {"$gt" : 8988112233}}
collection_user.delete_many(query)

# 3.3 Delete Collection

In [80]:
collection_proj_var.drop()

# 4. Update

##  4.1 update_one()

In [ ]:
collection.update_one(old_query, new_query)

In [85]:
old_query = {'First Name':'Sachin'}
new_query = {'$set': {"Location":"Pune"}}
collection_user.update_one(old_query, new_query)

In [86]:
old_query = {'First Name':'Sachin'}
new_query = {'$set': {"First Name":"Dhoni"}}
collection_user.update_one(old_query, new_query)

## 4.2 update_many()

In [87]:
old_query = {'First Name':'Rohit'}
new_query = {'$set': {"Location":"Kolkata"}}
collection_user.update_many(old_query, new_query)

# 5. Sorting

In [92]:
data = collection_user.find({},{"_id":0}).sort('First Name')
list(data)

[{'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]

# 5.1 Ascending

In [98]:
data = collection_user.find({},{"_id":0}).sort('Mobile Number')
list(data)

[{'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Pune'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]

In [99]:
data = collection_user.find({},{"_id":0}).sort('Location')
list(data)

[{'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'}]

# 5.2 Descending Order

In [96]:
data = collection_user.find({},{"_id":0}).sort('Mobile Number',-1)
list(data)

[{'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'}]

In [97]:
data = collection_user.find({},{"_id":0}).sort('Location',-1)
list(data)

[{'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Sachin',
  'Last Name': 'Tendulkar',
  'Mobile Number': 8888112233,
  'Location': 'Pune'},
 {'First Name': 'Shikhar',
  'Last Name': 'Dhawan',
  'Mobile Number': 7988112233,
  'Location': 'Pune'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Rohit',
  'Last Name': 'Sharma',
  'Mobile Number': 8988112233,
  'Location': 'Kolkata'},
 {'First Name': 'Suresh',
  'Last Name': 'Raina',
  'Mobile Number': 9788112244,
  'Location': 'Delhi'},
 {'First Name': 'Virat',
  'Last Name': 'Kohli',
  'Mobile Number': 9988776655,
  'Location': 'Bangalore'}]